@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --dark: #141414;
    --offwhite: rgb(169, 169, 169);
    --white: #ffffff;
    --font: #b3b3b3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: url(./images/netflix.jpg);
    color: white;
    letter-spacing: 0.2px;
}

.container {
    padding: 50px;
    height: 500px;
    max-width: 350px;
    background: #000000d6;
    border-radius: 5px;
}

.id-pass {
    color: var(--white);
    margin-top: 15px;
    width: 250px;
    padding: 13px;
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 3px;
}

.id-pass:focus {
    background: rgb(80, 80, 80);
    border: 0px solid #1670BE;
    box-shadow: 0 0 0px #1670BE;
    outline-offset: 0px;
    outline: none;
    border-bottom: 2px solid #e87c03;

}

button.sign-in {
    margin-top: 35px;
    width: 250px;
    padding: 13px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

button.sign-in:hover {
    cursor: pointer;
}

.boxhelp {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

#rem-me {
    color: var(--font);
    font-size: 13px;
    font-weight: 400;

}


.needhelp {
    margin-left: 80px;
    color: var(--font);
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}


.text1 {
    margin: 15px 0px;
}

.text11 {
    color: #8c8c8c;
}

.sign-up {
    color: var(--white);
    text-decoration: none;
}


.context1 {
    font-size: 13px;
}

.context11 {
    color: #8c8c8c;
}

.learnmore {
    text-decoration: none;
    color: #4f4ffd;
}

.needhelp:hover,
.sign-up:hover,
.learnmore:hover {
    text-decoration: underline;
}